## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = random.sample(range(101),k=80)

print(sample_list_1)

[30, 39, 40, 18, 63, 70, 26, 56, 8, 15, 24, 73, 97, 6, 46, 83, 59, 57, 87, 45, 23, 5, 17, 9, 60, 84, 35, 81, 65, 43, 29, 54, 33, 75, 51, 92, 68, 19, 11, 20, 0, 16, 95, 32, 82, 86, 25, 72, 98, 21, 90, 94, 1, 77, 64, 14, 52, 100, 55, 47, 12, 58, 74, 4, 34, 48, 71, 49, 3, 85, 91, 13, 78, 62, 28, 69, 36, 2, 93, 44]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set1 = (set((sample_list_1)))
print(set1)
print()
print('Length of our set:',len(set((sample_list_1))))

{0, 1, 2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 28, 29, 30, 32, 33, 34, 35, 36, 39, 40, 43, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 97, 98, 100}

Length of our set: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
#this one will give the answer but its not what the hint tells us to do.
sample_list_2 = random.sample(range(0,101),80)
print(sample_list_2)
# I have a question here, bc this function it returns a map not a list like the other two methods I used, and I dont know why 
"""""
def random_list(n):
    for n in range(80):
        random.randint(0,101)
        sample_list_2.append(n)
        return sample_list_2
"""""
#this is what it ask us to do  
sample_list1 = []

for n in range(80):
        random.sample(range(101),80)
        sample_list1.append(n)
print(sample_list1)

[8, 93, 56, 46, 98, 65, 85, 41, 20, 1, 6, 54, 40, 52, 49, 15, 92, 83, 11, 33, 74, 69, 27, 10, 16, 44, 97, 34, 19, 39, 22, 73, 45, 37, 7, 91, 60, 28, 95, 96, 94, 3, 75, 76, 99, 55, 26, 64, 50, 88, 58, 21, 70, 89, 57, 66, 42, 0, 63, 38, 13, 43, 18, 12, 59, 17, 87, 48, 81, 71, 47, 14, 100, 80, 79, 82, 61, 9, 35, 36]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = (set(sample_list_2))
print(set2)
print()
print('Length of our set:',(len(set(sample_list_2))))

{0, 1, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 26, 27, 28, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 69, 70, 71, 73, 74, 75, 76, 79, 80, 81, 82, 83, 85, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

Length of our set: 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3 = set1 - set2

print('Different digits between sets:',set3)

Different digits between sets: {2, 23, 24, 25, 29, 30, 31, 32, 51, 53, 62, 67, 68, 72, 77, 78, 84, 86, 90}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
# Your code here
set4 = set2 - set1 
print('Different digits between sets:',set4)

Different digits between sets: {0, 1, 15, 21, 27, 28, 33, 37, 39, 40, 41, 49, 56, 66, 75, 80, 85, 95, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
# Your code here

set5 = set(set1).intersection(set2)
print('Numbers shared between sets:',set5)

Numbers shared between sets: {3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 26, 34, 35, 36, 38, 42, 43, 44, 45, 46, 47, 48, 50, 52, 54, 55, 57, 58, 59, 60, 61, 63, 64, 65, 69, 70, 71, 73, 74, 76, 79, 81, 82, 83, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [2]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
print(len(set6))

#mathematic relation among sets
set1 = set3 + set5
set2 = set4 + set5

NameError: name 'set1' is not defined

#### Create an empty set called `set6`.

In [13]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
# Your code here
set6.update(set3,set5)
#here both sets are added to set6, but I'm not sure if we wanted to sum them, I guess add it just add not sum them.

print(set6)

{2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 29, 30, 31, 32, 34, 35, 36, 38, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [28]:
# Your code here
#z = [set1 == set6 for x in set6] 
h = set1 == set6
#print(z)
h
#I didn't use list comprenhension here bc it was giving me a list filled with Trues one for each number on the sets.

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [46]:
# Your code here
set2.issubset(set1)
set3.issubset(set1)

h = set2.issubset(set1)
a = set3.issubset(set1)
a,h

(True, False)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here
print('se')

#### Using the `pop` method, remove the first element from `set1`.

In [48]:
# Your code here
print(set1)
set1.pop()
print(set1)

#Here my doubt is... if I use pop() I will never be sure that I erased the first digit at 100% won't I??
#It would be better to use a for loop, just asking

{2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 29, 30, 31, 32, 34, 35, 36, 38, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 100}
{3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 29, 30, 31, 32, 34, 35, 36, 38, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
# Your code here

v = set(set1).difference(list_to_remove)
print(v)

{0, 2, 3, 4, 5, 6, 8, 12, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 28, 30, 32, 33, 34, 35, 36, 40, 43, 44, 45, 46, 47, 48, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 68, 70, 72, 73, 74, 75, 77, 78, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 95, 97, 98, 100}